In [71]:
import pandas as pd
import numpy as np
import quandl
import json
import os
import pandas_datareader as pdr

# Uploading data
first using quandl API

In [72]:
with open("API.json", "r") as file:
    API = json.load(file)
quandl.ApiConfig.api_key=API['Quandl']
start_m = '1959-01-01'
end_m = '2019-12-31'

#Quaterly dataframe
df_q = quandl.get('FRED/GDPC1',start_date = start_m, end_date = end_m, collapse = 'quaterly')
df_q['GDPC1'] = quandl.get('FRED/GDPC1',start_date = start_m, end_date = end_m, collapse = 'quaterly')
df_q = df_q.drop(columns = 'Value')


#Monthly dataframe
df_m = quandl.get('FRED/'+'GS10',start_date = start_m, end_date = end_m, collapse = 'monthly')

fred_series_m = ['USREC','GS10', 'TB3MS', 'GS1', 'AAA10YM', 'DTB6', 'BAA10YM', 'FEDFUNDS','WPU102301', 'WPU101', 'WTISPLC','BOGMBASE', 'M1NS', 'M2NS','UNRATE', 'PERMIT', 'LNS12032195', 'PAYEMS','INDPRO', 'W875RX1']
for series in fred_series_m:
        df_m[series] = quandl.get('FRED/'+series, start_date = start_m, end_date = end_m, collapse = 'monthly')

#Non fred data series
df_m['MAN_PMI'] = quandl.get('ISM/MAN_PMI', start_date = start_m, end_date = end_m, collapse = 'monthly')
df_m['MAN_DELIV'] = quandl.get('ISM/MAN_DELIV.5', start_date = start_m, end_date = end_m, collapse = 'monthly')
df_m['MAN_NEWORDERS'] = quandl.get('ISM/MAN_NEWORDERS.5', start_date = start_m, end_date = end_m, collapse = 'monthly')

df_m = df_m.drop(columns = 'Value')
        
#Daily dataframe
df_d = quandl.get('FRED/'+'DGS10',start_date = start_m, end_date = end_m, collapse = 'daily')
fred_series_d = ['DGS10', 'DGS1', 'DTB3']
for series in fred_series_d:
        df_d[series] = quandl.get('FRED/'+series, start_date = start_m, end_date = end_m, collapse = 'daily')
df_d = df_d.drop(columns = 'Value')

In [73]:
df_q

                GDPC1
Date
1959-01-01   3121.936
1959-04-01   3192.380
1959-07-01   3194.653
1959-10-01   3203.759
1960-01-01   3275.757
...               ...
2018-10-01  18783.548
2019-01-01  18927.281
2019-04-01  19021.860
2019-07-01  19121.112
2019-10-01  19221.970

[244 rows x 1 columns]

In [74]:
df_m

,USREC,GS10,TB3MS,GS1,AAA10YM,DTB6,BAA10YM,FEDFUNDS,WPU102301,WPU101,...,M2NS,UNRATE,PERMIT,LNS12032195,PAYEMS,INDPRO,W875RX1,MAN_PMI,MAN_DELIV,MAN_NEWORDERS
Date,,,,,,,,,,,,,,,,,,,,,
1959-01-31,0.0,4.02,2.82,3.36,0.10,3.00,0.85,2.48,46.0,29.0,...,289.8,6.0,NaN,1304.0,52478.0,22.6250,2288.8,64.4,61.8,69.0
1959-02-28,0.0,3.96,2.70,3.54,0.18,3.10,0.93,2.43,48.8,29.1,...,287.7,5.9,NaN,1152.0,52688.0,23.0681,2297.0,66.9,67.3,70.5
1959-03-31,0.0,3.99,2.80,3.61,0.14,3.18,0.86,2.80,54.8,29.0,...,287.9,5.6,NaN,1203.0,53014.0,23.4004,2314.0,67.1,66.3,70.2
1959-04-30,0.0,4.12,2.95,3.72,0.11,3.18,0.74,2.96,50.1,28.8,...,290.2,5.2,NaN,1085.0,53321.0,23.8989,2330.3,66.9,64.8,66.9
1959-05-31,0.0,4.31,2.84,3.96,0.06,3.45,0.65,2.90,49.4,28.7,...,290.2,5.1,NaN,988.0,53550.0,24.2589,2345.8,68.2,63.0,69.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,0.0,1.63,1.95,1.77,1.35,1.84,2.24,2.13,394.1,217.8,...,14903.9,3.7,1471.0,2683.0,151160.0,109.8543,14092.3,48.8,51.4,47.2
2019-09-30,0.0,1.70,1.89,1.80,1.33,1.78,2.21,2.04,388.7,212.3,...,14994.9,3.5,1437.0,2600.0,151368.0,109.4725,14120.7,48.2,51.1,47.3
2019-10-31,0.0,1.71,1.65,1.61,1.30,1.53,2.21,1.83,384.6,206.4,...,15121.1,3.6,1503.0,2747.0,151553.0,109.0270,14115.1,48.5,50.1,48.9
2019-11-30,0.0,1.81,1.54,1.57,1.25,1.59,2.13,1.55,392.1,205.1,...,15266.8,3.5,1510.0,2634.0,151814.0,110.0388,14192.1,48.1,51.7,46.8
2019-12-31,0.0,1.86,1.54,1.55,1.15,1.56,2.02,1.55,400.9,207.3,...,15418.2,3.5,1457.0,2657.0,151998.0,109.6527,14191.1,47.8,52.2,47.6

In [75]:
df_d

            DGS10  DGS1  DTB3
Date
1962-01-02   4.06  3.22  2.70
1962-01-03   4.03  3.24  2.73
1962-01-04   3.99  3.24  2.72
1962-01-05   4.02  3.26  2.74
1962-01-08   4.03  3.31  2.78
...           ...   ...   ...
2019-12-24   1.90  1.53  1.55
2019-12-26   1.90  1.53  1.55
2019-12-27   1.88  1.51  1.54
2019-12-30   1.90  1.57  1.54
2019-12-31   1.92  1.59  1.52

[14484 rows x 3 columns]

# Data from csv
Some data was not available through the API, hence I downloaded the csv and will concatenate the data from this csv to the previously constructed dataframe

In [76]:
#extradata csv upload and concatenation
extra_df = pd.read_csv('extradata.csv', index_col = 'Date')
df_m = pd.concat([df_m, extra_df], axis = 1)
df_m

,USREC,GS10,TB3MS,GS1,AAA10YM,DTB6,BAA10YM,FEDFUNDS,WPU102301,WPU101,...,MAN_NEWORDERS,S&P500,MABMM301USM189S,Australia,Canada,Germany,Japan,UK,Unfilled Orders,CPIAUCNS
Date,,,,,,,,,,,,,,,,,,,,,
1959-01-31,0.0,4.02,2.82,3.36,0.10,3.00,0.85,2.48,46.0,29.0,...,69.0,55.450001,NaN,0,0,0,0,0,44685,12.63738
1959-02-28,0.0,3.96,2.70,3.54,0.18,3.10,0.93,2.43,48.8,29.1,...,70.5,55.410000,NaN,0,0,0,0,0,45793,12.59380
1959-03-31,0.0,3.99,2.80,3.61,0.14,3.18,0.86,2.80,54.8,29.0,...,70.2,55.439999,NaN,0,0,0,0,0,46951,12.59380
1959-04-30,0.0,4.12,2.95,3.72,0.11,3.18,0.74,2.96,50.1,28.8,...,66.9,57.590000,NaN,0,0,0,0,0,47728,12.63738
1959-05-31,0.0,4.31,2.84,3.96,0.06,3.45,0.65,2.90,49.4,28.7,...,69.9,58.680000,NaN,0,0,0,0,0,47583,12.63738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,0.0,1.63,1.95,1.77,1.35,1.84,2.24,2.13,394.1,217.8,...,47.2,2926.459961,1.490000e+13,0,0,0,0,0,1148225,111.80070
2019-09-30,0.0,1.70,1.89,1.80,1.33,1.78,2.21,2.04,388.7,212.3,...,47.3,2976.739990,1.500000e+13,0,0,0,0,0,1148432,111.88829
2019-10-31,0.0,1.71,1.65,1.61,1.30,1.53,2.21,1.83,384.6,206.4,...,48.9,3037.560059,1.510000e+13,0,0,0,0,0,1149040,112.14408
2019-11-30,0.0,1.81,1.54,1.57,1.25,1.59,2.13,1.55,392.1,205.1,...,46.8,3140.979980,1.520000e+13,0,0,0,0,0,1143494,112.08395
2019-12-31,0.0,1.86,1.54,1.55,1.15,1.56,2.02,1.55,400.9,207.3,...,47.6,3230.780029,1.530000e+13,0,0,0,0,0,1144546,111.98198

# Consumer sentiment upload
This series was done separatedly becasue the data up to 1978 is only available quarter by quarter. Hence to use it in the monthly analsysis the quaterly measurements had to be used 3 times (one per month).

In [77]:
#Consumer sentiment
# CS = pd.read_csv('consumer_sentiment_q.csv', index_col = 'QUARTER')
CS = pd.read_csv('consumer_sentiment.csv', index_col = 'Month')
CS = list(CS.ICS_ALL.values)
CS_m = []

for i in range(18,20):
    CS_m.append(CS[i])
    CS_m.append(CS[i])
    CS_m.append(CS[i])
    CS_m.append(CS[i])
    CS_m.append(CS[i])
    CS_m.append(CS[i])    

for i in range(20, 92):
    CS_m.append(CS[i])
    CS_m.append(CS[i])
    CS_m.append(CS[i])


for i in range(92,len(CS)-6):
    CS_m.append(CS[i])


CS_m

# CS_m = CS_m[:len(CS_m)-6]
# len(CS_m)
df_m['CS_m'] = CS_m
df_m

,USREC,GS10,TB3MS,GS1,AAA10YM,DTB6,BAA10YM,FEDFUNDS,WPU102301,WPU101,...,S&P500,MABMM301USM189S,Australia,Canada,Germany,Japan,UK,Unfilled Orders,CPIAUCNS,CS_m
Date,,,,,,,,,,,,,,,,,,,,,
1959-01-31,0.0,4.02,2.82,3.36,0.10,3.00,0.85,2.48,46.0,29.0,...,55.450001,NaN,0,0,0,0,0,44685,12.63738,95.3
1959-02-28,0.0,3.96,2.70,3.54,0.18,3.10,0.93,2.43,48.8,29.1,...,55.410000,NaN,0,0,0,0,0,45793,12.59380,95.3
1959-03-31,0.0,3.99,2.80,3.61,0.14,3.18,0.86,2.80,54.8,29.0,...,55.439999,NaN,0,0,0,0,0,46951,12.59380,95.3
1959-04-30,0.0,4.12,2.95,3.72,0.11,3.18,0.74,2.96,50.1,28.8,...,57.590000,NaN,0,0,0,0,0,47728,12.63738,95.3
1959-05-31,0.0,4.31,2.84,3.96,0.06,3.45,0.65,2.90,49.4,28.7,...,58.680000,NaN,0,0,0,0,0,47583,12.63738,95.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,0.0,1.63,1.95,1.77,1.35,1.84,2.24,2.13,394.1,217.8,...,2926.459961,1.490000e+13,0,0,0,0,0,1148225,111.80070,89.8
2019-09-30,0.0,1.70,1.89,1.80,1.33,1.78,2.21,2.04,388.7,212.3,...,2976.739990,1.500000e+13,0,0,0,0,0,1148432,111.88829,93.2
2019-10-31,0.0,1.71,1.65,1.61,1.30,1.53,2.21,1.83,384.6,206.4,...,3037.560059,1.510000e+13,0,0,0,0,0,1149040,112.14408,95.5
2019-11-30,0.0,1.81,1.54,1.57,1.25,1.59,2.13,1.55,392.1,205.1,...,3140.979980,1.520000e+13,0,0,0,0,0,1143494,112.08395,96.8
2019-12-31,0.0,1.86,1.54,1.55,1.15,1.56,2.02,1.55,400.9,207.3,...,3230.780029,1.530000e+13,0,0,0,0,0,1144546,111.98198,99.3

In [78]:
#Additional data series combinations and other adjustments

#Yield curves
df_m['10Y-3M'] = df_m['GS10'] - df_m['TB3MS']
df_m['10Y-1Y'] = df_m['GS10'] - df_m['GS1']

df_d['mad_10Y-3M'] = df_d['DGS10'] - df_d['DTB3']
df_d['mad_10Y-1Y'] = df_d['DGS10'] - df_d['DGS1']

#Getting AAA and BAA returns
df_m['AAA'] = df_m['AAA10YM'] + df_m['GS10']
df_m['BAA'] = df_m['BAA10YM'] + df_m['GS10']

#CR sum and DR dummy for simultaneous recessions
df_m['USREC'] = pd.to_numeric(df_m['USREC'], downcast = 'integer')
df_m['CR'] = df_m['USREC'] + df_m['Australia'] + df_m['Canada'] + df_m['Germany'] + df_m['Japan'] + df_m['UK']   
CR_list = list(df_m['CR'].values)

DR_list = []
for i in range(len(CR_list)):
    if CR_list[i] >= 3:
        DR_list.append(1)
    else:
        DR_list.append(0)

df_m['DR'] = DR_list

#All series that need unit changed to billions as units
df_m['BOGMBASE'] = df_m['BOGMBASE']/1000
df_m['Unfilled Orders'] = df_m['Unfilled Orders']/1000
df_m['MABMM301USM189S'] = df_m['MABMM301USM189S']/1000000000

#Inflation Correction
nominal_series = ['WTISPLC', 'BOGMBASE','M1NS','M2NS','Unfilled Orders','W875RX1','MABMM301USM189S','S&P500']

df_m['deflator'] = df_m['CPIAUCNS']/100

for series in nominal_series:
    df_m['R_'+series] = df_m[series]/df_m['deflator']
    
#Dropping series that we don't need when nominal
df_m = df_m.drop(columns = ['WTISPLC','Unfilled Orders','W875RX1','S&P500'])

#All series that need to be turned into differences
df_m['R_Unfilled Orders'] = df_m['R_Unfilled Orders'].diff()
df_q['GDPC1'] = df_q['GDPC1'].diff()*100/df_q['GDPC1']
df_m['R_S&P500_change'] = df_m['R_S&P500'].diff()*100/df_m['R_S&P500']

#Create the lags for monthly
lag1_series = ['WPU102301','WPU101', 'BOGMBASE','M1NS', 'M2NS', 'R_BOGMBASE','R_M1NS', 'R_M2NS','CPIAUCNS', 'UNRATE', 'MAN_PMI', 'MAN_DELIV', 'MAN_NEWORDERS', 'PERMIT', 'CS_m', 'LNS12032195', 'PAYEMS','INDPRO']
lag2_series = ['R_Unfilled Orders', 'R_W875RX1', 'MABMM301USM189S','R_MABMM301USM189S']
lag9_series = ['Australia', 'Canada', 'Germany', 'Japan', 'UK', 'CR', 'DR']


for series in lag1_series:
    df_m[series] = df_m[series].shift(1)

for series in lag2_series:
    df_m[series] = df_m[series].shift(2)
    
for series in lag9_series:
    df_m[series] = df_m[series].shift(9)

#Lagged dependent variables (1 quarter and 2 quarter)

df_m['USREC_lag3'] = df_m['USREC'].shift(3)
df_m['USREC_lag6'] = df_m['USREC'].shift(6)

df_q['GDPC1_lag1'] = df_q['GDPC1'].shift(1)
df_q['GDPC1_lag2'] = df_q['GDPC1'].shift(2)

#Mad calculations
#need daily S&P500
SP500_d = pd.read_csv('^GSPC_daily.csv', index_col = 'Date')

#Calculating mean absolute deviation
mad_SP500_d = SP500_d.groupby(pd.PeriodIndex(SP500_d.index, freq = 'M'), axis = 0).mad()
mad_df_d = df_d.groupby(pd.PeriodIndex(df_d.index, freq = 'M'), axis = 0).mad()

#fixing the dataframe and getting rid of extra data
mad_df_d = pd.concat([mad_df_d, mad_SP500_d], axis = 1)
mad_df_d = mad_df_d.drop(columns = ['DGS10', 'DGS1', 'DTB3']) 

df_q

               GDPC1  GDPC1_lag1  GDPC1_lag2
Date
1959-01-01       NaN         NaN         NaN
1959-04-01  2.206630         NaN         NaN
1959-07-01  0.071150    2.206630         NaN
1959-10-01  0.284229    0.071150    2.206630
1960-01-01  2.197904    0.284229    0.071150
...              ...         ...         ...
2018-10-01  0.270599    0.718449    0.859661
2019-01-01  0.759396    0.270599    0.718449
2019-04-01  0.497212    0.759396    0.270599
2019-07-01  0.519070    0.497212    0.759396
2019-10-01  0.524702    0.519070    0.497212

[244 rows x 3 columns]

# Calculating Mean Absolute Deviation for 10Y-3M and 10Y-1Y Spread as well as for S&P500

In [79]:
#Mad calculations
#need daily S&P500
SP500_d = pd.read_csv('^GSPC_daily.csv', index_col = 'Date')

#Calculating mad
mad_SP500_d = SP500_d.groupby(pd.PeriodIndex(SP500_d.index, freq = 'M'), axis = 0).mad()
mad_df_d = df_d.groupby(pd.PeriodIndex(df_d.index, freq = 'M'), axis = 0).mad()

#fixing the dataframe and getting rid of extra data
mad_df_d = pd.concat([mad_df_d, mad_SP500_d], axis = 1)
mad_df_d = mad_df_d.drop(columns = ['DGS10', 'DGS1', 'DTB3']) 

mad_df_d

         mad_10Y-3M  mad_10Y-1Y  mad_S&P500
Date
1962-01    0.060579    0.039339    3.600750
1962-02    0.057778    0.028765    4.315500
1962-03    0.045207    0.040661    3.808209
1962-04    0.017150    0.043050    3.167099
1962-05    0.032645    0.032975    3.554367
...             ...         ...         ...
2019-08    0.074091    0.077025   62.699318
2019-09    0.102000    0.048450   61.356775
2019-10    0.126364    0.106157   62.541760
2019-11    0.058947    0.051191  122.732133
2019-12    0.044853    0.061361  140.363098

[696 rows x 3 columns]

# Cutting dataframe to 1962
This is necessary becasue the daily measures used to calculate the mad only go back to January 1962. Unfortunately this means that one of the recessionary periods is missed.

In [80]:
#Slice up to January 1962
df_m = df_m[36:]
#The following is needed to have index in the same format as mad_df_d
df_m = df_m.groupby(pd.PeriodIndex(df_m.index, freq = 'M'), axis = 0).mean()
#since this it's a mean of a each month, df_m values won't change

#Concatenating df_m and mad_df_d
df_m = pd.concat([df_m, mad_df_d], axis = 1)
df_m

,USREC,GS10,TB3MS,GS1,AAA10YM,DTB6,BAA10YM,FEDFUNDS,WPU102301,WPU101,...,R_Unfilled Orders,R_W875RX1,R_MABMM301USM189S,R_S&P500,R_S&P500_change,USREC_lag3,USREC_lag6,mad_10Y-3M,mad_10Y-1Y,mad_S&P500
Date,,,,,,,,,,,,,,,,,,,,,
1962-01,0,4.08,2.72,3.28,0.34,2.94,1.00,2.15,51.7,28.5,...,2.072951,19410.777051,2547.205532,526.575431,-3.936675,0.0,0.0,0.060579,0.039339,3.600750
1962-02,0,4.04,2.73,3.28,0.38,2.89,1.03,2.37,51.9,28.6,...,3.954670,19517.101846,2570.153330,533.364634,1.272901,0.0,0.0,0.057778,0.028765,4.315500
1962-03,0,3.93,2.72,3.06,0.46,2.88,1.11,2.85,52.2,28.6,...,4.038812,19490.329416,2585.451861,530.238886,-0.589498,0.0,0.0,0.045207,0.040661,3.808209
1962-04,0,3.84,2.73,2.99,0.49,2.84,1.18,2.78,51.2,28.4,...,3.186443,19519.346666,2592.109466,495.733365,-6.960500,0.0,0.0,0.017150,0.043050,3.167099
1962-05,0,3.87,2.69,3.03,0.41,2.78,1.13,2.36,52.0,28.3,...,-2.942807,19648.952140,2614.981020,453.105180,-9.408011,0.0,0.0,0.032645,0.032975,3.554367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08,0,1.63,1.95,1.77,1.35,1.84,2.24,2.13,404.6,216.9,...,-8.376843,12617.110666,13259.290350,2617.568549,-1.837341,0.0,0.0,0.074091,0.077025,62.699318
2019-09,0,1.70,1.89,1.80,1.33,1.78,2.21,2.04,394.1,217.8,...,-1.891480,12555.368049,13326.612189,2660.457131,1.612076,0.0,0.0,0.102000,0.048450,61.356775
2019-10,0,1.71,1.65,1.61,1.30,1.53,2.21,1.83,388.7,212.3,...,1.203089,12604.840578,13327.286860,2708.622746,1.778233,0.0,0.0,0.126364,0.106157,62.541760
2019-11,0,1.81,1.54,1.57,1.25,1.59,2.13,1.55,384.6,206.4,...,-0.618987,12620.355535,13406.228659,2802.345902,3.344454,0.0,0.0,0.058947,0.051191,122.732133
2019-12,0,1.86,1.54,1.55,1.15,1.56,2.02,1.55,392.1,205.1,...,-1.798983,12586.576126,13464.821326,2885.089216,2.867964,0.0,0.0,0.044853,0.061361,140.363098

# Average monthly series to quarterly

In [81]:
df_q2 = df_m.groupby(pd.PeriodIndex(df_m.index, freq='Q'), axis=0).mean()

#The following is needed to have index in the same format as df_q2
df_q = df_q.groupby(pd.PeriodIndex(df_q.index, freq='Q'), axis=0).mean()
#since this it's a mean of a each quarter, df_m values won't change

#Concatenating the strictly quaterly series with the monthly quarter average series
df_q = pd.concat([df_q, df_q2], axis = 1)
df_q = df_q.drop(columns = ['USREC', 'Australia', 'Canada','Germany','Japan','UK', 'USREC_lag3'])
df_q = df_q[12:]
df_q

,GDPC1,GDPC1_lag1,GDPC1_lag2,GS10,TB3MS,GS1,AAA10YM,DTB6,BAA10YM,FEDFUNDS,...,R_M2NS,R_Unfilled Orders,R_W875RX1,R_MABMM301USM189S,R_S&P500,R_S&P500_change,USREC_lag6,mad_10Y-3M,mad_10Y-1Y,mad_S&P500
Date,,,,,,,,,,,,,,,,,,,,,
1962Q1,1.752344,1.923390,1.883483,4.016667,2.723333,3.206667,0.393333,2.903333,1.046667,2.456667,...,2597.612567,3.355478,19472.736104,2567.603574,530.059650,-1.084424,0.0,0.054521,0.036255,3.908153
1962Q2,0.895579,1.752344,1.923390,3.873333,2.716667,3.016667,0.423333,2.850000,1.140000,2.606667,...,2619.586579,-1.605972,19625.098789,2612.069961,454.954165,-8.427252,0.0,0.026455,0.037390,3.629589
1962Q3,1.213599,0.895579,1.752344,3.990000,2.840000,3.183333,0.346667,2.963333,1.056667,2.846667,...,2650.360853,-1.840225,19760.382023,2651.513792,437.838192,0.586240,0.0,0.025856,0.033511,3.299461
1962Q4,0.327783,1.213599,0.895579,3.903333,2.813333,2.996667,0.353333,2.896667,1.053333,2.923333,...,2697.120807,1.052938,19804.131598,2682.690600,457.647469,3.664314,0.0,0.033181,0.021010,2.527842
1963Q1,1.079818,0.327783,1.213599,3.893333,2.906667,3.026667,0.303333,2.966667,1.000000,2.966667,...,2775.123181,6.496843,19982.446950,2737.631717,495.294372,1.606402,0.0,0.019834,0.019605,2.092041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018Q4,0.270599,0.718449,0.859661,3.033333,2.316667,2.670000,1.093333,2.463333,2.106667,2.220000,...,12931.969752,3.802349,12544.919230,12905.827216,2421.207496,-5.105857,0.0,0.065018,0.037548,76.140055
2019Q1,0.759396,0.270599,0.718449,2.653333,2.386667,2.540000,1.176667,2.403333,2.316667,2.403333,...,13148.818310,1.023606,12683.118711,13070.015661,2517.271321,3.600314,0.0,0.056709,0.034079,93.279787
2019Q2,0.497212,0.759396,0.270599,2.333333,2.300000,2.253333,1.260000,2.240000,2.263333,2.396667,...,13124.674366,-6.609168,12670.024624,13121.277483,2582.293639,0.811429,0.0,0.044346,0.035566,66.111852
2019Q3,0.519070,0.497212,0.759396,1.796667,1.980000,1.843333,1.303333,1.886667,2.223333,2.190000,...,13265.640707,-6.135333,12588.137597,13252.741762,2647.895962,0.301870,0.0,0.081218,0.051880,72.530897
2019Q4,0.524702,0.519070,0.497212,1.793333,1.576667,1.576667,1.233333,1.560000,2.120000,1.643333,...,13502.056271,-0.404960,12603.924080,13399.445615,2798.685955,2.663550,0.0,0.076721,0.072903,108.545664

# Download to csv

In [82]:
df_m.to_csv('df_m.csv')
df_q.to_csv('df_q.csv')

# Testing for null values

In [83]:
df_m.isnull().values.any()

False

In [84]:
df_q.isnull().values.any()

False